
  <!--エラーメッセージ-->
<%= form_with(model: @user, local: true) do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
<% end %>

<div class="user_new">
  <div class="text-center">
    <h1>Sign up</h1>
  </div>   
      
  <div class="row center-block">
    <div class="col-sm-6 offset-sm-3">
      
      
      <%= form_with(model: @user, local: true) do |f| %>
      
      
        <%# <div>
          <i class="fa fa-user-circle fa-6x" aria-hidden="true"></i>
          <%= f.file_field :avatar, style: "display:none;"%>
      
        <div class="form-group">
          <%= f.label :name, 'Name' %>
          <%= f.text_field :name, class: 'form-control', placeholder: "Akira Tanaka" %>
        </div>

        <div class="form-group">
          <%= f.label :email, 'Email' %>
          <%= f.email_field :email, class: 'form-control', placeholder: "akira@mail.com"%>
        </div>

        <div class="form-group">
          <%= f.label :password, 'Password' %>
          <%= f.password_field :password, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation, 'Confirmation' %>
          <%= f.password_field :password_confirmation, class: 'form-control' %>
        </div>

        <%= f.submit 'Sign up', class: 'btn btn-primary btn-block' %>
      <% end %>
    </div>
  </div>
</div>
