
  <!--エラーメッセージ-->
<%= form_with(model: @user, local: true) do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
<% end %>

<div class="user_new">
  <div class="text-center">
    <h1>REGISTER</h1>
  </div>   
      
  <div class="row center-block">
    <div class="col-sm-6 offset-sm-3">
      
      
      <%= form_with(model: @user, local: true) do |f| %>
      
        <div class="form-group">
          <%= f.label :name, 'Name' %><br>
          <%= f.text_field :name, class: 'form', placeholder: "Akira Tanaka" %>
        </div>

        <div class="form-group">
          <%= f.label :email, 'Email' %><br>
          <%= f.email_field :email, class: 'form', placeholder: "akira@mail.com"%>
        </div>

        <div class="form-group">
          <%= f.label :password, 'Password' %><br>
          <%= f.password_field :password, class: 'form' %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation, 'Confirmation' %><br>
          <%= f.password_field :password_confirmation, class: 'form' %>
        </div>

        <%= f.submit 'REGISTER', class: 'btn btn-primary btn-block' %>
      <% end %>
    </div>
  </div>
</div>
