<div class="user">
    <div class="user_show">
        <div class="user_info">
            <div class="user_info_left">   
                <% if @user.avatar? %>
                <div class="user_icon">
                    <%= image_tag @user.avatar_url, class: "user_icon"%>
                </div>    
                <% else %>
                    <%= image_tag "/assets/default-avatar.png", class: "user_icon" %>
                 <% end %>  
            </div>
            
            <div class="user_info_right">
              <div class="user_name_edit">
                <h1><%= @user.name %></h1>
               <% if @user == current_user %>
                 <div class="user_edit">
                  <%= link_to "Edit profile", "/users/#{@user.id}/edit", class: 'btn btn-default' %>
                  </div>
               <% else %>
                 <dvi></dvi>
               <% end %>
       
              </div>
                <p><%= @user.introduction %></p>
              <div class="relationships_btn">    
             
                    <div class="relationships_btn_all">
                        <div>
                            <a href="<%= followings_user_path(@user) %>">Following</a>
                        </div>
                        <div>
                            <a href="<%= followings_user_path(@user) %>"><%= @count_followings %></a>
                        </div>
                    </div>
                    
                    <div class="relationships_btn_all">
                        <div>
                            <a href="<%= followers_user_path(@user) %>">Followers</a>
                        </div>
                        <div>
                            <a href="<%= followers_user_path(@user) %>"><%= @count_followers %></a>
                        </div>
                    </div>
                    
                    <div class="relationships_btn_all">
                        <div>
                           <%#= likes_user_path(@user) %>
                        </div>
                        <div>
                            <%#= likes_user_path(@user) %>
                        </div>
                    </div>
              </div>    
            </div>  
        </div>
    </div>   

   
    
    
    
    <% if @user == current_user %>
        <div class="btn_all">
            <div class="post_btn">
            <%= link_to "SUBMIT YOUR SKIL", "/posts/new", class: 'btn' %>
            </div>
            
        </div> 

        <div class="btn_all">
            <div class="post_btn">
            <%= link_to "SUBMIT YOUR REEL", "/reels/new", class: 'btn' %>
            </div>
            
        </div> 
    <% else %>
        <div class="btn_all">
            <div class="follow_btn">
                <%= render 'relationships/follow_button', user: @user, class: 'btn' %>    
            </div>
        </div>    
    <% end %>

    <%= render "reels/reels", reels:@reels %>
    
    <div class="user_post">
        <%= render "posts/posts", posts:@posts %>
        
    </div>

    
    
</div>    