<table>
    <tr>
      <th> カテゴリー</th>
      <% if [46, 74, 134, 142, 147, 150, 158].include?(@category_id) %>
        <td>
          <%= link_to "#{@category_child.name}","#" %>
          <br><%= link_to "#{@category_grandchild.name}","#" %>
        </td>  
      <% else %>
        <td>
          <%= link_to "#{@category_parent.name}","#" %>
          <br><%= link_to "#{@category_child.name}","#" %>
          <%= link_to "#{@category_grandchild.name}","#" %>
        </td>  
      <% end %>  
    </tr>      
    <tr>
      <th>ブランド</th>
      <td><%%= @item.brand_name %></td>
    </tr>  
    <tr>
      <th>商品のサイズ</th> 
      <td></td>
    </tr>  
    <tr>
      <th>商品の状態</th>
      <td><%= @item.item_status %></td>
    </tr>  
    <tr>
      <th> 配送料の負担</th>
      <td><%= @item.delivery_fee %></td>
    </tr>  
    <tr>
      <th> 発送元の地域</th>
      <td><%= link_to "#{@item.shipping_origin}","#" %></td>
    </tr>  
    <tr>
      <th> 発送日の目安</th>
      <td><%= @item.days_until_shipping %></td>
    </tr>  
</table>