<div class="media_all">
  <div class="container ">

    <%# <ul class="list-unstyled"> %>
      <% posts.each do |post| %>
            
        <div class="col-md-4 media">
          <% if post.image? %>
            <%= link_to (image_tag post.image_url(:thumb) if post.image?), post_path(post), class: "image" %>
          <% else %>
            <%= link_to (image_tag "/assets/default-image.jpg"), post_path(post), class: "image" %>
          <% end %>

          

          <p><%= post.title %></p>  

          <%#= post.content %>
          <button><%= link_to "READ MORE", post_path(post)%></button>
          <%= post.created_at %>   
          <%= post.user %>


        </div>
        
      <% end %>
      
    <%# </ul> %>


  <div class="posts_paginate">  
      <%= paginate posts %>
  </div>    
    
  </div>
</div>
