<div class="media_all">
  <div class="container">
    <div class="post_col">    
      <% posts.each do |post| %>
       
        <div class=" media">
          <% if post.image? %>
            <%= link_to (image_tag post.image_url(:thumb) if post.image?), post_path(post), class: "image" %>
          <% else %>
            <%= link_to (image_tag "/assets/default-image.jpg"), post_path(post), class: "image" %>
          <% end %>

          
          <div class="post_title">
          <p><%= post.title %></p>  
          </div>

          <div class="read_more">
            <%= link_to "READ MORE", post_path(post), class:"btn" %>
          </div>

          <%#= post.created_at.strftime('%Y/%m/%d') %>   
          
          <div class="post_index_user">
            <div>
              <p>by  </p>
            </div>  
            <div class="post_user_icon_box">
              <% if post.user.avatar? %>      
                    <%= image_tag post.user.avatar_url, class: "post_user_icon"%>  
              <% else %>
                  <%= image_tag "/assets/default-avatar.png", class: "post_user_icon" %>
              <% end %>  
            </div>
            <div>
              <p><%= link_to post.user.name, post.user %></p>
            </div>  
          </div>    


        </div>
        
      <% end %>
      
  
    </div>


  <div class="posts_paginate">  
      <%= paginate posts %>
  </div>    
    
  </div>
</div>
