<div class="post_edit">
    <%= form_with(model: @post, local: true) do |f| %>

        <%= image_tag(@post.image_url) %>

        <div class="image_post">
            <%= f.label :image, 'HEADER IMAGE', class: "image_input_btn" %>
            <%= f.file_field :image, class: "image_form" %>
            

        </div>   
        
        <div class="form-group">
            <%= f.text_area :content, class: 'form-control', rows: 5 %>
        </div>
            <%= f.submit 'Post', class: 'btn btn-primary btn-block' %>
    <% end %>
</div>    