<div class="post_show">
  <div class="post_box">
    <div class="post_box_left">
      <% if @post.image? %>
        <%= image_tag @post.image_url(:thumb2) if @post.image.present? %>   
      <% else %>
        <%= link_to (image_tag "/assets/default-image.jpg") %>
      <% end %>
     </div>    
        
    <div class="post_box_right">    
      <div class="post_user_name_icon">
        <div class="post_user_icon">
           
        </div>
        
        <div class="post_user_name">
          <%= link_to @post.user.name, [@post.user] %>
        </div>  
      </div>  
        
        <div class="post_content">
            <%= @post.content  %>
        </div>   
            
          <!--編集と削除-->
        <div class="post_delete_edit">
          <% if current_user == @post.user %>
            <%= link_to "Delete", @post, method: :delete, data: { confirm: "You sure?" }, class: 'btn_delete' %>
            <%= link_to "Edit", edit_post_path(@post), class: 'btn_edit' %>
          <% else %>
            <%#= render 'favorites/favorite_button', post: @post %>
          <% end %>
        </div>
        <div>
        <!--<= render 'favorites/favorite_button', post: @post %>-->
        </div>    
        
        <div class="comments">
          <%= form_with model: [@post,@comment], local: true do |f|%>
          <div class="comment_form">
            <div>
             <%= f.text_field :comment, placeholder: "コメントを追加", class: "post_comment" %>
            </div>
            <div>
            <%= f.submit name= "Post", class: "btn" %>
            </div>
          </div>
          <% end %>
          
          <div class="comments_list">
            <% @comments.each do |c| %>
              <div class="comment_user_name_icon">
              
              
                <div class="comment_name">
                  <%= link_to c.user.name, [c.user] %>
                </div>
              </div>  
              <div class="comment_list">
                  <%= c.comment %>
              </div>
              <% if c.user == current_user %>
                <div>
                    <%#= link_to "delete", [@post, c], method: :delete, class: "btn" %>  
                </div>
              <% end %>
          
            <% end %>
          </div>
           
        </div>
            
      
    
  </div>  
  </div>
</div>    
